/*Styling for fonts*/
@font-face {
    font-family: kaufmann-bt;
    src: url(../fonts/kaufmann-bt/KaufmnRg.ttf);
}
@font-face {
    font-family: theboldfont;
    src: url(../fonts/the-bold-font/theboldfont.ttf);
}
@font-face {
    font-family: raleway;
    src: url(../fonts/raleway/Raleway-Bold.ttf);
}
@font-face {
    font-family: amontilladios;
    src: url(../fonts/amontilladios/Amontilladios.ttf);
}
@font-face {
    font-family: bebas-neue;
    src: url(../fonts/bebas-neue/BebasNeueBook.ttf);
}

/*Styling for Header*/
.temp-header1 {
    background: url(../image/Banner1.jpg) no-repeat bottom;
    border-bottom: 5px solid #ffe700;
    color: white;
}
.temp-header2 {
    background: url(../image/Banner2.jpg) no-repeat center;
    color: #972b2b;
}
.temp-header1, .temp-header2 {
    height: 300px;
    background-size: cover;
    padding-top: 2rem;
}
.temp-header1 span, .temp-header2 span {
    display: block;
    line-height: 1;
}
.temp-header1 span:nth-child(1) {
    font-family: amontilladios, sans-serif;
    font-size: 4rem;
    font-weight: 300;
    width: fit-content;
    border-bottom: 2px solid white;
}
.temp-header1 span:nth-child(2) {
    font-family: bebas-neue, sans-serif;
    font-size: 7rem;
    font-weight: 900;
}
.temp-header1 span:nth-child(3) {
    font-family: "Century Gothic", sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 2rem;
    padding-left: 2rem;
}
.temp-header2 span:nth-child(1), .temp-header2 span:nth-child(3) {
    font-family: theboldfont, sans-serif;
    font-size: 6rem;
    font-weight: 700;
}
.temp-header2 span:nth-child(2) {
    font-family: raleway, sans-serif;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.25rem;
    border-top: 2px solid #972b2b;
    border-bottom: 2px solid #972b2b;
    width: fit-content;
    padding-left: 1.25rem;
}
.temp-logo{
    position: absolute;
    bottom: -63px;
    left: 5%;
    height: 125px;
    width: 150px;
    padding:50px 10px 10px;
    background: white;
    z-index: 1;
}
.temp-header1 .temp-logo {
    border: 3px solid #ffe700;
}
.temp-header2 .temp-logo {
    border: 3px solid #9fe493;
}
.temp-banner {
    height: 450px;
    padding: 0;
}
.temp-banner img {
    object-fit: cover;
    width: 100%;
    height: inherit;
}
.header-gradient {
    background: #9fe493; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #9fe493, #ffe700); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #9fe493, #ffe700); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #9fe493, #ffe700); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #9fe493, #ffe700); /* Standard syntax */
    height: 5px;
}
.header-nav {
    margin: 1rem 0;
}
.header-nav .nav-link {
    color: #3a3a3a !important;
    font-weight: 500;
    font-size: 1.25rem;
}
.header-nav .nav-link:last-child {
    color: #dd4f05 !important;
}
.header-nav .nav-link, .footer-nav .nav-link {
    border-right: 2px solid #3a3a3a;
    padding: 0 1rem;
}
.header-nav .nav-link:last-child, .footer-nav .nav-link:last-child {
    border-right: none;
}
.marquee {
    background-color: #4a7700;
    padding-top: .75rem;
    padding-bottom: .75rem;
    text-align: center;
    color: white;
}
.header-cat {
    color: #4a7700;
    border-top: 2px solid #3a3a3a;
    border-bottom: 2px solid #3a3a3a;
}
.header-nav5 {
    border-bottom: 5px solid #4d4c4c;
    padding-top: .75rem;
    padding-bottom: .5rem;
}
.header-nav5 .fa{
    margin: 0 .5rem;
    color: #4a7700;
}

/*Styling for Main Body of Template-1*/
.container {
    box-shadow: 0 10px 5px #8d8c8c;
}
.category-header{
    padding-bottom: 15px;
}
.category-header h2, .category-footer h2 {
    font-weight: 400 !important;
}
.category {
    padding-top: 15px;
    padding-bottom: 15px;
}
.category img {
    object-fit: cover;
    width: 100%;
    height: inherit;
}
.category .caption {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 25px;
    width: 100%;
    font-size: 1.75rem;
    font-weight: 400;
    color: white;
}
.category-footer {
    padding-top: 15px
}

/*Styling for Main Body of Template-2*/
.banner-txt {
    position: absolute;
    width: 45%;
    bottom: 20%;
    right: 10%;
    color: white;
    font-size: 2rem;
}
.market {
    background: url(../image/background.jpg) no-repeat center;
    background-size: cover;
    min-height: 200px;
}
.market img {
    object-fit: cover;
    width: 100%;
    height: inherit;
}
.market p {
    font-family: kaufmann-bt, sans-serif;
    font-size: 2.5rem;
    margin-top: 1rem;
}
.market .card {
    background-color: transparent;
    border: none;
    width: 100%;
}
.market .card img {
    width: 125px;
}

/*Style for Main Body of Template-3*/
.banner3 {
    background: url(../image/background.jpg) no-repeat center;
    background-size: cover;
    height: 550px;
    padding: 0;
}
.banner3-txt {
    background: rgba(74, 119, 0, 0.5);
    position: absolute;
    bottom: 15%;
    width: 100%;
    color: white;
    font-size: 1.75rem;
    padding: 2rem 0;
}
.red {
    color: #dd4f05;
}
.green {
    color: #4a7700;
}
.ash {
    color: #c2c2c2;
}
.red-header, .grey-header {
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
}
.grey-header {
    background-color: #3a3a3a;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 2rem;
}
.grey-header span {
    color: white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    padding-left: 2rem;
    padding-right: 2rem;
}
.box, .no-box {
    margin-bottom: 1.5rem;
}
.big-box, .box {
    text-align: center;
    font-size: 1.675rem;
    padding: 5%;
}
.box {
    border: 1rem solid #e1e1e1;
}
.big-box{
    border: 1.5rem solid #3a3a3a;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}
.temp4 .box {
    margin-top: 1.5rem;
    border: 0;
}
.temp4 .box hr {
    position: absolute;
    bottom: 0;
    left: 25%;
    width: 50%;
    border: 1px solid #3a3a3a;
    margin: 0;
}
.skewed {
    background-color: #4a7700;
    overflow: hidden;
    height: 60px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.skew1 {
    background-color: #dd4f05;
    padding-top: .75rem;
    color: white;
}
.skew1:after {
    content: '';
    position: absolute;
    right: -15px;
    bottom: -45px;
    width: 50px;
    height: 120px;
    display: block;
    border-left: 3px solid white;
    background: #4a7700;
    z-index: 1;
    transform: rotate(45deg);
}
.skew1 .fa {
    margin: 0 1rem;
}

/* Styling for Template-5 */
.p-no {
    letter-spacing: .75rem;
}
.call-sg {
    background-color: #bffc5a;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-top: 1rem;
    color: white;
}

/* Styling for Buttons*/
.btn-sharpget, .btn-sharpget-dash {

    font-weight: 400;
    padding: .5rem 2.5rem;
    border-radius: 2rem;
}
.btn-sharpget {
    background-color: #01ccb6;
    color: black;
    box-shadow: 0 5px 25px #696868;
    font-size: 1.75rem;
}
.btn-sharpget:hover {
    color: white;
}
.category-footer .btn-sharpget {
    margin: 2rem auto 0;
}
.market .btn-sharpget {
    margin: 2rem auto
}
.btn-sharpget3, .banner3-txt .btn-sharpget3, .btn-sharpget4 {
    font-size: 1.375rem;
    font-weight: 500;
    border-radius: .5rem;
    color: white !important;
    cursor: pointer;
}
.btn-sharpget3, .banner3-txt .btn-sharpget3 {
    background-color: #4a7700;
}
.btn-sharpget4 {
    background-color: #dd4f05;
}
.banner3-txt .btn-sharpget3 {
    border: 3px solid #dd4f05;
}
.btn-sharpget-dash {
    border: 2px dashed #4a7700;
    font-size: 1.375rem;
    color: #4a7700;
    margin: 1rem auto;
}
.btn-sharpget-dash:hover {
    color: #4a7700;
}

/*Styling for Footer*/
footer.container {
    background-color: black;
}
footer.container.temp5 {
    background-color: #f2f2f2;
    padding-top: 3rem;
    color: #b5b5b5;
    font-size: 1.375rem;
}
footer.container.temp5 .col-12 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}
footer.container.temp5 .fa {
    color: #79993d;
}
.footer-gradient {
    background: #9fe493; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #ffe700, #9fe493); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #ffe700, #9fe493); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #ffe700, #9fe493); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #ffe700, #9fe493); /* Standard syntax */
    height: 5px;
}
.footer-logo {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.social-logo img{
    margin: .5rem .75rem;
}
footer.container hr {
    border-top: 1px solid white;
    width: 100%;
    margin-top: 0;
}
footer nav a.nav-item{
     color: white !important;
     font-size: 1.25rem;
     font-weight: 500;
 }
footer nav a.nav-item:hover{
    color: #01ccb6 !important;
}
footer p{
    margin: 1rem;
    color: #858585;
    font-size: 1.5rem;
}
footer.temp3 {
    padding-top: 4rem;
    height: 350px;
    background-color: #f1f1f1;
}
.footer-nav {
    margin-bottom: 2rem;
}
.footer-nav .nav-link {
    color: black;
    font-weight: 500;
}
footer.temp3 p {
    margin: 0;
    font-size: 1rem;
    font-weight: 300;
}
footer.temp3 p a {
    color: black;
    font-weight: 500;
}

/* Mobile Responsiveness */
@media (max-width: 767px) {
    .temp-header1, .temp-header2 {
        height: 215px;
    }
    .temp-logo {
        bottom: -50px;
        left: calc(50% - 62px);
        height: 100px;
        width: 125px;
        padding: 35px 5px 5px;
    }
    .temp-header1 span:nth-child(1) {
        font-size: 1.75rem;
    }
    .temp-header1 span:nth-child(2) {
        font-size: 4rem;
    }
    .temp-header1 span:nth-child(3) {
        font-size: 1.25rem;
        letter-spacing: 1.25rem;
        padding-left: 1.25rem;
    }
    .temp-header2 span:nth-child(1), .temp-header2 span:nth-child(3) {
        font-size: 3rem;
    }
    .temp-header2 span:nth-child(2) {
        font-size: 1rem;
        letter-spacing: 0.65rem;
        padding-left: 0.65rem;
    }
    .temp-banner {
        height: 200px;
    }
    .market .card img {
        width: 100px;
    }
    .btn-sharpget {
        font-size: 1.25rem;
        padding: .5rem 1.5rem;
    }
    .banner-txt {
        bottom: 10%;
        font-size: 1rem;
    }
    .market p {
        font-size: 1.875rem;
    }

    footer nav a.nav-item {
        color: white !important;
        font-size: 0.875rem;
        font-weight: 400;
    }
    footer p {
        font-size: 1rem;
    }
}

@media (max-width: 575px) {
    .banner-txt {
        width: 80%;
    }
}